/* ---- lounge.css ----------------------------------------------------------- */
body {
	background-color: black;
	margin:0;
	padding:0;
	background: url(../img/0.gif) bottom center black;
	background-size: 100%;
}
body.bg_0 {
	background-image: url(../img/0.gif);
}
body.bg_1 {
	background-image: url(../img/1.gif);
}
body.bg_2 {
	background-image: url(../img/2.gif);
}
body.bg_3 {
	background-image: url(../img/3.gif);
}
body.bg_4 {
	background-image: url(../img/4.gif);
}
body.bg_5 {
	background-image: url(../img/5.gif);
}
body.bg_6 {
	background-image: url(../img/6.gif);
}
h1, h2 {
	margin: .5em 0;
}
h1:first-child, h2:first-child, form:first-child {
	margin-top: 0;
}
h1 { 
	background: url(../img/logo.png) no-repeat left top;
	width: 488px;
	height: 0;
	padding: 185px 0 0 0;
	overflow: hidden;
	-webkit-transform: rotate(-2deg);
}
#container {
	position: fixed;
	width: 488px;
	padding: 20px;
	left: 50%;
	margin: 0 0 0 -264px;
	top: 50px;
	background-color: rgba(51, 51, 51, 0.8);
	padding: 1em;
	color:#fff;
	border: 5px solid rgba(61, 61, 61, 0.8);
	border-radius: 10px;
	-moz-box-shadow: 5px 5px 5px #111;
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
	-webkit-transform: rotate(2deg);
}
#container h2 {
	font-family: "VT323", Courier, monospace;
	font-size: 2em;
	color: #FFF;
}
#loungeList {
	display:none;
}
#loungeList tr:nth-child(even) {
	background-color: rgba(51, 51, 51, 0.4);
}
#loungeList tr:nth-child(odd) {
	background-color: rgba(51, 51, 51, 0.2);
}
#loungeList th, #loungeList td {
	padding: .25em;
}
#loungeList th {
	background-color: rgba(51, 51, 51, 0.5);
	text-align:left;
}
form {
	background-color: rgba(51, 51, 51, 0.8);
	border-radius: 10px;
	padding: 10px;
	-webkit-transform: rotate(-2deg);
}