/* ---- lounge.css ----------------------------------------------------------- */
body {
	background-color: black;
	margin:0;
	padding:0;
	background: url(../img/f1.gif) bottom center black;
	background-size: 100%;
}
h1, h2 {
	margin: .5em 0;
}
h1:first-child, h2:first-child {
	margin-top: 0;
}
h1 { 
	background: url(../img/logo.png) no-repeat left top;
	width: 488px;
	height: 0;
	padding: 185px 0 0 0;
	overflow: hidden;
}
#container {
	position: fixed;
	width: 488px;
	padding: 20px;
	left: 50%;
	margin: 0 0 0 -244px;
	top: 50px;
	background-color: rgba(51, 51, 51, 0.8);
	padding: 1em;
	color:#fff;
	border-radius: 10px;
}
#container h2 {
	font-family: 'Vollkorn', serif;
	color: #FFF;
}
#loungeList {
	display:none;
}
#loungeList tr:nth-child(even) {
	background-color: rgba(51, 51, 51, 0.4);
}
#loungeList tr:nth-child(odd) {
	background-color: rgba(51, 51, 51, 0.2);
}
#loungeList th, #loungeList td {
	padding: .25em;
}
#loungeList th {
	background-color: rgba(51, 51, 51, 0.5);
	text-align:left;
}